/* styling for tribe events...
*/
 .tribe-events-abbr.updated {
	display: block;
}
.tribe-events-list .tribe-events-event-cost { // cost on listview
	float: left;
	margin-left: 0px;
	margin-top:10px;
}

.tribe-events-single-section.tribe-events-event-meta  .tribe-events-meta-group.tribe-events-meta-group-details,
.tribe-events-single-section.tribe-events-event-meta  .tribe-events-meta-group.tribe-events-meta-group-organizer
 {
	width: 50%; 
}
.column.tribe-week-grid-hours { // s.t. week events dont show at bottom of time slots.
	width: 40px;
}


